{% extends 'monitoring/base.html' %}
{% load static %}
{% load tz %}
{% block title %}Dashboard{% endblock %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/dashboard.css' %}"> <!-- Link to custom CSS -->

<h1>Dashboard</h1>
<p>Welcome to the Dashboard. Here you can monitor your website’s performance.</p>

<h2>Monitoring Checks</h2>

<!-- Hidden input to store the initial check ID -->
<input type="hidden" id="initial-check-id" value="{{ monitoring_checks.first.id }}">

<!-- Card Container -->
<div class="card-container">
    {% for check in monitoring_checks %}
        <div class="card" onclick="openChart('{{ check.id }}')">
            <h3>{{ check.name_of_check }}</h3>
            {% with latest_result=check.monitoringresult_set.last %}
                {% if latest_result %}
                    <div class="status-indicator {% if latest_result.status == '200' %}status-up{% else %}status-down{% endif %}">
                        ● {{ latest_result.status }}
                    </div>
                    <p>Previous Check:
                        {% now "Y-m-d" as current_date %} <!-- Set the current date to a variable -->
                    
                        {% if latest_result.checked_at|date:"Y-m-d" == current_date %}
                            Today {{ latest_result.checked_at|time:"H:i:s" }}
                        {% elif latest_result.checked_at|date:"Y-m-d" == current_date|date:"Y-m-d"|add:"-1 day" %}
                            Yesterday {{ latest_result.checked_at|time:"H:i:s" }}
                        {% else %}
                            {{ latest_result.checked_at|date:"Y-m-d" }} {{ latest_result.checked_at|time:"H:i:s" }}
                        {% endif %}
                    </p>
                {% else %}
                    <div class="status-indicator status-unknown">
                        ● No checks yet
                    </div>
                    <p>Previous Check: N/A</p>
                {% endif %}
            {% endwith %}
        </div>
    {% endfor %}
</div>

<!-- Chart Container -->
<div id="chartContainer">
    <h2>Response Time Chart</h2>
    <canvas id="responseChart" width="400" height="200"></canvas>
</div>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="{% static 'js/dashboard.js' %}"></script> <!-- Link to your JS file -->

{% endblock %}
